body {
    background-color: #F0FFF0; 
    border:2 px; solid blue;
    margin-top: 0
}

/* верхній відступ*/
.boxb_black {
    background-color: black;
    text-align: center;
    color: white;
    max-width: 400px;
    min-width: fit-content;
    min-height: 400px;
    margin: 0 auto;
}

/*чорний блок*/

#imag {
    margin-top: 15px;
    border-bottom: 50 px
}

/*налаштування зображення */
#header {
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 40px;
    letter-spacing: 0.45em;
}

/*блок надпису*/
div.button {
    width: 300px;
    height: 50px;
    margin: 20px auto;
    padding-top: 0.8em;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    word-spacing: 2px;
    border: white solid 4px;
    box-sizing: border-box;
    
}

/*стилі кнопок*/
a {
    text-decoration: none;
    color: white;
}

/*відміна підкреслень для посилань*/